*{
  margin: 0;
  padding: 0;
}

#header {
  display: flex;
  background-color: #d8eefe;
  height: 80px;
  align-items: center;
}

img {
  width: 80px;
  height: 80px;
}

#school-name {
  font-weight: bold;
  color: #094067;
  font-size: large;
  font-family: 'Noto Sans JP', sans-serif;
}

#lab-name {
  font-weight: bold;
  color: #094067;
  text-align: center;
  font-size: x-large;
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  background-image: linear-gradient(rgba(217, 226, 230, 0.589), rgba(0, 0, 0, 0.6)),url("img/IMG_6824.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

nav {
  position: absolute;
  right: 50px;
  text-align: center;
}

  #menu{
    margin: 0;
    padding: 0;
    display: table;
    margin : 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;
  }

    #menu li {
      list-style: none;
      display: table-cell;
      min-width: 150px;
    }

      #menu li a {
        font-weight: bold;
        display: block;
        text-decoration: none;
        width: 100%;
        color: #094067;
        padding-bottom: 5px;
      }

      #menu li.current {
        border-bottom: 3px solid #094067;
      }

      #menu li:hover {
        color: #094067;
        border-bottom: 3px solid #094067;
      }