/* リセットcss */
*{
  margin: 0;
  padding: 0;
}

/* ヘッダーのstyle */
#header {
  display: flex;
  background-color: #d8eefe;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
img {
  width: 80px;
  height: 80px;
}
#school-name {
  font-weight: bold;
  color: #094067;
  font-size: large;
  font-family: 'Noto Sans JP', sans-serif;
}
#lab-name {
  font-weight: bold;
  color: #094067;
  text-align: center;
  font-size: x-large;
  font-family: 'Noto Sans JP', sans-serif;
}
nav {
  position: absolute;
  right: 50px;
  text-align: center;
}
  #menu{
    margin: 0;
    padding: 0;
    display: table;
    margin : 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;
  }
    #menu li {
      list-style: none;
      display: table-cell;
      min-width: 150px;
    }
      #menu li a {
        font-weight: bold;
        display: block;
        text-decoration: none;
        width: 100%;
        color: #094067;
        padding-bottom: 5px;
      }
      #menu li.current {
        border-bottom: 3px solid #094067;
      }
      #menu li:hover {
        color: #094067;
        border-bottom: 3px solid #094067;
      }

/* ここからbodyのスタイル */
body {
  background-image: linear-gradient(rgba(217, 226, 230, 0.589), rgba(0, 0, 0, 0.6)),url("img/IMG_6824.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
/* WellComeの部分 */
#greeting-box {
  width: 60%;
  margin: 10% auto;
}
#greeting-title {
  border-bottom: 1px solid;
  color: #becbd5;
  margin-bottom: 5%;
}
#greeting-box h1 {
  text-align: center;
  color: #d8eefe;
  font-weight: bold;
  font-size: 60px;
}
#greeting-box p {
  color: #d8eefe;
  font-size: 40px;
}

/* おしらせの部分 */
#news-box {
  width: 60%;
  margin: 10% auto;
}
#news-title {
  border-bottom: 1px solid;
  color: #becbd5;
  margin-bottom: 5%;
}
#news-box h1 {
  text-align: center;
  color: #d8eefe;
  font-weight: bold;
  font-size: 60px;
}
#news-box p {
  color: #d8eefe;
  font-size: 40px;
}

/* 研究室紹介の部分 */ 
#introduce-box {
  width: 60%;
  margin: 20% auto;
}
#introduce-title {
  border-bottom: 1px solid;
  color: #becbd5;
  margin-bottom: 5%;
}
#introduce-box h1 {
  text-align: center;
  color: #d8eefe;
  font-weight: bold;
  font-size: 60px;
}
/*==================================================
スライダーのためのcss
===================================*/
.slider {
  position:relative;
}
/*　背景画像設定　*/

.slider-item {
  width: 100%;/*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
  background-repeat: no-repeat;/*背景画像をリピートしない*/
  background-position: center;/*背景画像の位置を中央に*/
  background-size: cover;/*背景画像が.slider-item全体を覆い表示*/
  background-color: #ccc;
  opacity: 50%;
  text-align: center;
  padding: auto;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
  position: absolute;/*絶対配置にする*/
z-index: 3;
  top: 42%;
  cursor: pointer;/*マウスカーソルを指マークに*/
  outline: none;/*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid #ccc;/*矢印の色*/
  border-right: 2px solid #ccc;/*矢印の色*/
  height: 25px;
  width: 25px;
}

.slick-prev {/*戻る矢印の位置と形状*/
  left:2.5%;
  transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
  right:2.5%;
  transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
position: relative;
z-index: 3;
text-align:center;
}

.slick-dots li {
  display:inline-block;
margin:0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width:8px;/*ドットボタンのサイズ*/
  height:8px;/*ドットボタンのサイズ*/
  display:block;
  border-radius:50%;
  background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
  background:#333;/*ドットボタンの現在地表示の色*/
}

/*========= レイアウトのためのCSS ===============*/
#wrapper ul{
margin:0;
padding: 0;
list-style: none;
}

a{
color: #fff;
}

a:hover,
a:active{
text-decoration: none;
}

.wrapper{
position: relative;
margin-top: auto;
}