/* リセットcss */
*{
  margin: 0;
  padding: 0;
}

/* ヘッダーのstyle */
#header {
  display: flex;
  background-color: #d8eefe;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
img {
  width: 80px;
  height: 80px;
}
#school-name {
  font-weight: bold;
  color: #094067;
  font-size: large;
  font-family: 'Noto Sans JP', sans-serif;
}
#lab-name {
  font-weight: bold;
  color: #094067;
  text-align: center;
  font-size: x-large;
  font-family: 'Noto Sans JP', sans-serif;
}
nav {
  position: absolute;
  right: 50px;
  text-align: center;
}
  #menu{
    margin: 0;
    padding: 0;
    display: table;
    margin : 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;
  }
    #menu li {
      list-style: none;
      display: table-cell;
      min-width: 150px;
    }
      #menu li a {
        font-weight: bold;
        display: block;
        text-decoration: none;
        width: 100%;
        color: #094067;
        padding-bottom: 5px;
      }
      #menu li.current {
        border-bottom: 3px solid #094067;
      }
      #menu li:hover {
        color: #094067;
        border-bottom: 3px solid #094067;
      }

/* ここからbodyのスタイル */
body {
  background-image: linear-gradient(rgba(217, 226, 230, 0.589), rgba(0, 0, 0, 0.6)),url("img/IMG_6824.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
/* WellComeの部分 */
#greeting-box {
  width: 60%;
  margin: 10% auto;
}
#greeting-title {
  border-bottom: 1px solid;
  color: #becbd5;
  margin-bottom: 5%;
}
#greeting-box h1 {
  text-align: center;
  color: #d8eefe;
  font-weight: bold;
  font-size: 60px;
}
#greeting-box p {
  color: #d8eefe;
  font-size: 40px;
}

/* おしらせの部分 */
#news-box {
  width: 60%;
  margin: 10% auto;
}
#news-title {
  border-bottom: 1px solid;
  color: #becbd5;
  margin-bottom: 5%;
}
#news-box h1 {
  text-align: center;
  color: #d8eefe;
  font-weight: bold;
  font-size: 60px;
}
#news-box p {
  color: #d8eefe;
  font-size: 40px;
}

/* 研究室紹介の部分 */ 
#introduce-box {
  width: 60%;
  margin: 10% auto;
}
#introduce-title {
  border-bottom: 1px solid;
  color: #becbd5;
  margin-bottom: 5%;
}
#introduce-box h1 {
  text-align: center;
  color: #d8eefe;
  font-weight: bold;
  font-size: 60px;
}

/* スライダーのためのcss */
.swiper--wrapper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  color: #175684;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 300px;
}
.swiper-slide:nth-child(3n + 1) {
  background-color: #e6eff6;
  opacity: 60%;
}
.swiper-slide:nth-child(3n + 2) {
  background-color: #e6eff6;
  opacity: 60%;
}
.swiper-slide:nth-child(3n + 3) {
  background-color: #e6eff6;
  opacity: 60%;
}
.swiper-button-prev {
  color: #071620;
}